body {
  width: 760px;
  margin: auto;
}

.global {
  float: left;
  text-align: left;

  width: 49%;
  margin-bottom: 10px;
}

.local {
  float: right;
  text-align: right;

  width: 49%;
  margin-bottom: 10px;
}

.message {
  border-bottom: 1px solid black;
}

.new {
  clear: both;
  text-align: center;
}